.DS_Store
.CFUserTextEncoding
.MacOSX
.Trash
.Xauthority
.appletviewer
.bash_history
.bash_profile.pysave
.bin
.cache
.config
.cups
.dropbox
.dvdcss
.eclipse
.explorer.local
.fontconfig
.htoprc
.kfkyznbn
.local
.macports
.nx
.oh-my-zsh
.perlbrew
.private
.qt
.serverauth.33745
.ssh
.tmp
.todo
.viminfo
.wine
.xhikocorc
.zcompdump
.zsh-update
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
Desktop
Dev
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Public
Sites
VirtualBox VMs
neuralsandwich.zsh-theme
neuralsandwich.zsh-theme.old
perl5
private
start.command
test-report
