[submodule "vim/vim/pack/git-plugins/start/ale"]
	path = vim/vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/vim/pack/git-plugins/start/YouCompleteMe"]
	path = vim/vim/pack/git-plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/vim/pack/git-plugins/start/formative.vim"]
	path = vim/vim/pack/git-plugins/start/formative.vim
	url = https://github.com/frasercrmck/formative.vim.git
[submodule "vim/vim/pack/git-plugins/start/vim-tmux-navigator"]
	path = vim/vim/pack/git-plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "tfenv/tfenv"]
	path = tfenv/tfenv
	url = https://github.com/kamatama41/tfenv.git
[submodule "vim/vim/pack/git-plugins/start/vim-easy-align"]
	path = vim/vim/pack/git-plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/vim/pack/git-plugins/start/rainbow"]
	path = vim/vim/pack/git-plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
