Kitware
Trolltech.conf
dconf
enchant
gedit
htop
libimobiledevice 
libreoffice 
user-dirs.dirs
user-dirs.locale
google-chrome
compiz-1
gtk-2.0
libaccounts-glib
nautilus
software-center
update-notifier
libimobiledevice
